package $model.domainServicePackageName;

import de.alpharogroup.db.service.AbstractBusinessService;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import ${model.repositoryPackageName}.${model.repositoryClassName};
import ${model.domainPackageName}.${model.domainClassName};
import ${model.domainMapperPackageName}.${model.modelClassName}Mapper;
import $model.modelQuilifiedClassName;
import ${model.servicePackageName}.api.${model.domainClassName}Service;

/**
 * The service class {@link ${model.modelClassName}BusinessService}.
 */
@Transactional
@Service("${model.repDomainServiceClassName}")
public class ${model.domainClassName}BusinessService 
	extends 
		AbstractBusinessService<$model.primaryKeyClassName, ${model.domainClassName}, ${model.modelClassName}, ${model.repositoryClassName}, ${model.modelClassName}Mapper>	
	implements 
		${model.domainClassName}Service
{

	/** The Constant serialVersionUID. */
	private static final long serialVersionUID = 1L;

	/**
	 * Sets the specific repository.
	 *
	 * @param repository the repository
	 */
	@Autowired
	public void set${model.repositoryClassName}(${model.repositoryClassName} repository) {
		setRepository(repository);
	}

}