package $model.repositoryPackageName;

import org.springframework.stereotype.Repository;

import de.alpharogroup.db.repository.AbstractRepository;

import $model.modelQuilifiedClassName;

@Repository("$model.repSpringRefClassName")
public class $model.repositoryClassName extends AbstractRepository<$model.modelClassName, $model.primaryKeyClassName> 
{

	/**
	 * The serialVersionUID.
	 */
	private static final long serialVersionUID = 1L;
	
}
