package ${model.servicePackageName}.api;

import $model.modelQuilifiedClassName;
import de.alpharogroup.db.service.api.BusinessService;

/**
 * The service interface {@link ${model.modelClassName}Service}.
 */
public interface ${model.modelClassName}Service extends BusinessService<$model.modelClassName, $model.primaryKeyClassName>
{
}