package ${model.domainMapperPackageName};

import org.springframework.stereotype.Component;

import de.alpharogroup.db.entitymapper.AbstractEntityDOMapper;
import ${model.domainPackageName}.${model.domainClassName};
import $model.modelQuilifiedClassName;

/**
 * The class {@link ${model.modelClassName}Mapper}.
 */
@Component
public class ${model.modelClassName}Mapper extends AbstractEntityDOMapper<${model.modelClassName}, ${model.domainClassName}>
{
}